# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
debug.log

# Database files
*.sqlite
*.sqlite3
dump.rdb
*.sql

# Compiled files
dist/
build/
*.out

# IDE & Editor files
.vscode/
.idea/
.DS_Store
Thumbs.db

# OS-Specific files
*.swp
*.swo
